.footer{
    background:#111827;
    color:white;
    margin-top:80px;
    padding:50px 20px 20px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:40px;
}

.footer-section h2,
.footer-section h3{
    margin-bottom:18px;
    color:#22c55e;
}

.footer-section p{
    color:#d1d5db;
    line-height:1.8;
}

.footer-section ul{
    list-style:none;
    padding:0;
}

.footer-section li{
    margin-bottom:12px;
    color:#d1d5db;
    cursor:pointer;
    transition:.3s;
}

.footer-section li:hover{
    color:#22c55e;
}

.footer hr{
    margin:35px 0 20px;
    border:0;
    border-top:1px solid #374151;
}

.copyright{
    text-align:center;
    color:#9ca3af;
    font-size:15px;
}

@media(max-width:768px){

.footer{
    text-align:center;
}

}